.container{
   
background-color: #940303;
background-image: url("../public/pokeball25.png") ;
background-repeat: no-repeat;
background-size: 300px;


 display: inline-flexbox;
   align-items: center;
    text-align: center;
    justify-content: center;
 
    border: 2px solid #940303;
max-width: 400px;
margin: 50px auto;
border-radius: 15px;


}


.about{

    margin-top: 96px;
    background-color: rgb(255, 255, 255);
    margin: -70px 5px 5px 5px;
    border-radius: 10px;
    color: #000;

}

.types_title{
    padding-top: 40px;
color: #00000000;

}
.about_title{
  
  text-align: center;
    padding-top: 20px;
color: #2b2b2b;
font-size: 32px;
padding-bottom: 16px;
border-bottom: #940303 3px solid ;
border-radius: 300%;
width: 300px;
margin: auto;
}
.pokemon_container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   vertical-align: middle;
   
height: 100px;
    
   
  }
  
  .title {
margin: 20px 0px 50px 30px;
  font-weight: 600;
    text-transform: capitalize;
  font-size: 24px;
    color: #fff;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    
    
  }

  .number{

    margin: 20px 30px 50px 0px;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 600;
      color: #fff;
      text-align: center;
  
      display: flex;
      justify-content: center;
      align-items: center;
      vertical-align: middle;
  }
  
  .pokemon_container h3 {
    margin: 0.6em auto;
    font-size: 1.2em;
  }
  
  .types_container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
  

  }

 
  
  .type {
    padding: 0.3em 1em;
    color: #fff;
    background-color: #000;
    margin: auto 10px;
    font-weight: 500;
   
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 0.7em;
  }
  
  .type_normal .container {
    background-color: #aaa67f;
  }
  
  .type_fire {
    background-color: #F57D31;
  }
  
  .type_water {
    background-color: #6493EB;
  }
  
  .type_eletric {
    background-color: #F9CF30;
  }
  
  .type_grass {
    background-color: #74CB48;
  }
  
  .type_ice {
    background-color: #9AD6DF;
  }
  
  .type_fighting {
    background-color: #C12239;
  }
  
  .type_poison {
    background-color: #A43E9E;
  }
  
  .type_ground {
    background-color: #DEC16B;
  }
  
  .type_flying {
    background-color: #A891EC;
  }
  
  .type_psychic {
    background-color: #FB5584;
  }
  
  .type_bug {
    background-color: #A7B723;
  }
  
  .type_rock {
    background-color: #B69E31;
  }
  
  .type_ghost {
    background-color: #70559B;
  }
  
  .type_dragon {
    background-color: #7037FF;
  }
  
  .type_dark {
    background-color: #75574C;
  }
  
  .type_steel {
    background-color: #B7B9D0;
  }
  
  .type_fairy {
    background-color: #E69EAC;
  }
  
  .data_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5em;
  }
  
  .data_container div {
    margin: 1em 0;
    padding: 5px 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .data_height  {
    border-right: 1px solid #940303;
    font-weight: 300;
    
  }

  .data_height  h4{
  
    color: #940303;
    font-size: 20px;
}

.data_weight {

  font-weight: 300;

}

.data_weight h4{

    color: #940303;
    font-size: 20px;

}

.data_ability h4{

  padding-bottom: 8px;

  color: #940303;
  font-size: 20px;

}

.data_ability{
padding: 16px 0px 40px 0px;


}

.ability{
display: inline;
justify-content: space-between;

 margin: 10px 10px ;

 font-weight: 300;

 max-width: 30vh;



}